# Applying Naive Bayesian Classifier on Dummy Dataset

In [1]:
import pandas as pd
from sklearn import preprocessing 
from sklearn.naive_bayes import GaussianNB

In [28]:
Data=pd.read_csv(r'D:\SUBJECTS 2nd year\PBL\project-9dataset.csv')
Data

     Weather  Temp Play
0      Sunny   Hot   No
1      Sunny   Hot   No
2   Overcast   Hot  Yes
3      Rainy  Mild  Yes
4      Rainy  Cool  Yes
5      Rainy  Cool   No
6   Overcast  Cool  Yes
7      Sunny  Mild   No
8      Sunny  Cool  Yes
9      Rainy  Mild  Yes
10     Sunny  Mild  Yes
11  Overcast  Mild  Yes
12  Overcast   Hot  Yes
13     Rainy  Mild   No

In [29]:
Data.describe()

       Weather  Temp Play
count       14    14   14
unique       3     3    2
top      Sunny  Mild  Yes
freq         5     6    9

In [30]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Weather  14 non-null     object
 1   Temp     14 non-null     object
 2   Play     14 non-null     object
dtypes: object(3)
memory usage: 464.0+ bytes

In [31]:
Data.isnull().sum()

Weather    0
Temp       0
Play       0
dtype: int64

In [32]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
Data = Data.apply(labelencoder.fit_transform)
Data

    Weather  Temp  Play
0         2     1     0
1         2     1     0
2         0     1     1
3         1     2     1
4         1     0     1
5         1     0     0
6         0     0     1
7         2     2     0
8         2     0     1
9         1     2     1
10        2     2     1
11        0     2     1
12        0     1     1
13        1     2     0

In [33]:
features = list(zip(Data['Weather'], Data['Temp']))
features

[(2, 1),
 (2, 1),
 (0, 1),
 (1, 2),
 (1, 0),
 (1, 0),
 (0, 0),
 (2, 2),
 (2, 0),
 (1, 2),
 (2, 2),
 (0, 2),
 (0, 1),
 (1, 2)]

In [34]:
X=pd.DataFrame(features, columns=['Weather','Temp'])
Y=Data['Play']

In [35]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.5, random_state =100)

In [40]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(X_train,Y_train)
Y_pred=gnb.predict(X_test)
print(Y_pred)

[1 1 1 0 0 1 1]

In [41]:
from sklearn.metrics import accuracy_score
print("Accuracy Score:",accuracy_score(Y_test,Y_pred))

Accuracy Score: 0.7142857142857143